@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}
@custom-variant dark (&:where([data-theme=dark], [data-theme-dark] *));
.btn-primary {
  @apply bg-gradient-to-r from-purple-500 to-purple-700 text-white border-none  hover:from-purple-700 hover:to-purple-500
  transition-all duration-500;
}
.btn-secendary {
  @apply text-white border-2 border-purple-700 hover:bg-purple-600  transition-all duration-500;
}
.font-popins {
  font-family: "Poppins", sans-serif;
}
.font-bebas {
  font-family: "Bebas Neue", sans-serif;
}
.title {
  @apply text-purple-600 text-3xl font-bold text-center mb-8 tracking-wider;
}
.subtitle {
  @apply text-purple-500 text-lg font-bold  tracking-wider;
}
.text {
  @apply text-lg text-gray-500 my-2;
}
.name {
  @apply text-2xl  my-2 dark:text-white text-purple-500;
}
